/**
 *@desc CSS styles for printWidget
 *
 * @author Vladimir Kovarsky <vkovarsky@gmail.com> 
 *
 * @copyright Copyright &copy; 2008-2009 Algo-rithm
 */

.img_link{
    text-decoration:none;
    border:none;
    text-align:center;
}

@media print {
    #shortcut, #header, #left-panel, #ribbon, #sparks, .page-title, .panel-heading{
        display:none !important;
    }
    
    table.dataGrid
    {
        background: white;
        border-collapse: collapse;
        width: 95%;
    }

    table.dataGrid th, table.dataGrid td
    {
        font-size: 0.9em;
        border: 1px #999999 solid;
        padding: 0.3em;
    }

    table.dataGrid th
    {
        background: #000000;
        text-align: center;
        color:#ffffff;
    }
    table.dataGrid th a
    {
        color:#ffffff;
        text-decoration: none;
    }

    table.dataGrid th.label
    {
        
    }

    table.dataGrid tr.odd
    {
        background: #000000;
    }

    table.dataGrid tr.even
    {
        background: #000000;
    }

    table.dataGrid td.actionCol, table.dataGrid th.actionCol 
    {
        display:none;
    }
    
    table.dataGrid tr.filterRow
    {
        display: none;
    }
}